extends layout.pug

block content
    h1 Update Book
    form(action=`/books/${books.id}` , method="POST")

        p
            label Title
            input(name="title", type="text", id="title", value=books.title)
        p
            label Author
            input(name="author", type="text", id="author", value=books.author)
        p
            label Genre
            input(name="genre", type="text", id="genre", value=books.genre)
        p
            label Year
            input(name="year", type="text", id="year", value=books.year)

        p
            a.button(type='submit') Update Book
   
    form(action="/", method="post")
        p
            a.button(href='/') Cancel
        p
            a.button(type='submit') Delete Book